* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: $font-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

.custom-padding {
  padding-bottom: 100px;
}

.breadcrumb-container {
  max-width: 750px;
  margin: 0 auto;
}

.loading {
  display: block;
  position: relative;
}

.loading .loader-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.breadcrumb-item a {
  color: $color-tertiary;
}
.navbar-toggler .navbar-toggler-icon {
  color: white;
}

.footer-custom {
  background-color: $color-text-primary;
}

.custom-pb {
  padding-bottom: 150px;
}

.postdetailscontainer {
  pre {
    background-color: #f6f8fa;
    padding: 1rem;
    border-radius: 6px;
    overflow: auto;
    border: 1px solid #d0d7de;
    font-family: "Fira Code", "Courier New", monospace;
    font-size: 85%;
    line-height: 1.45;
  }

  /* Token Colors */
  .pl-c {
    color: #6a737d;
  } /* Comment */
  .pl-k {
    color: #d73a49;
  } /* Keyword (for, let, if) */
  .pl-s {
    color: #032f62;
  } /* String */
  .pl-en {
    color: #6f42c1;
  } /* Entity/Function name */
  .pl-v {
    color: #e36209;
  } /* Variable */
  .pl-mi {
    color: #24292e;
    font-style: italic;
  }
  .pl-mb {
    color: #24292e;
    font-weight: bold;
  }
}
